# Logistic Regression

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('titanic')


df.dropna(inplace=True)

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

In [4]:
#x = df.drop('survived',axis=1)
x = df[['pclass','age','fare']]
y = df['survived']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test = train_test_split(
    x,
    y,
    test_size = 0.3,
    random_state = 101
)

In [7]:
from sklearn.linear_model import LogisticRegression

lr =LogisticRegression(
    #solver = 'liblinear',
    #multi_class='ovr'
)

In [8]:
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
lr.score(x_train,y_train)

0.7007874015748031

In [10]:
lr.score(x_test,y_test)

0.6727272727272727